@font-face {
   font-family: 'Montserrat-Regular';
   src: url(../../same-content/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
   font-family: 'Montserrat-Bold';
   src: url(../../same-content/fonts/Montserrat-Bold.ttf) format('truetype');
}