@import '../../1-2-3-4page/sass/_nullstyle';

body {
   font-family: 'Montserrat-Regular';
   background: #fff;
}

.container {
   max-width: 1441px;
}

.header {
		&__logo {
         position: relative;
         top: 30px;
         left: 30px;
         width: 48px;
         height: 48px;
         background: url('../../1-2-3-4page/images/Group.svg');
		}
}

.main {
   margin: 143px 141px 0;
}
.content {

}

.columns {
   display: flex;
}

.text-fields {
   flex-direction: column;

   .text-item {
      border: 1px solid black;
      border-radius: 5px;
   }
}
.checkbox-buttons {

}
.sliders {

}

