@charset "UTF-8";
/* Обнуление css */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* -------------------------------------------- */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../../same-content/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../../same-content/fonts/Montserrat-Bold.ttf) format("truetype");
}

body {
  font-family: 'Montserrat-Regular';
  background: #fff;
  font-size: 14px;
}

.container {
  max-width: 1441px;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 48px;
  height: 48px;
  background: url("../../same-content/images/Group.svg");
}

.main {
  margin: 140px 140px 130px 140px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 640px;
}

.first-column__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-column__items-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0 0;
}

.first-column__items-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 0 0;
}

.first-column__items:first-child {
  margin: 0;
}

.input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-label span:nth-of-type(1) {
  font-size: 12px;
  font-family: 'Montserrat-Bold';
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.input-label span:nth-of-type(2) {
  font-size: 12px;
  font-family: 'Montserrat-Regular';
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.input-case {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  height: 44px;
  padding: 0 0 0 15px;
  margin: 5px 0 0 0;
}

.input-case.text {
  width: 320px;
}

.input-case.date {
  width: 150px;
}

.input-case.gray {
  color: rgba(31, 32, 65, 0.25);
}

.input-case.hover-focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px;
}

.input-case-dropdown {
  color: rgba(31, 32, 65, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.date-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-and-arrow {
  position: relative;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  height: 44px;
  width: 150px;
  margin: 5px 0 0 0;
  padding: 0 0 0 15px;
}

#date-test {
  max-width: 130px;
  height: 42px;
  display: inline-block;
}

#date-test::after {
  content: '-';
  width: 44px;
  height: 44px;
  background: url("../icons/icon-dropdown.svg") no-repeat center;
}
